experiments/HerdNet/experiment_2/notebooks/detections.csv filter=lfs diff=lfs merge=lfs -text
modelos/*.pth filter=lfs diff=lfs merge=lfs -text
modelos/*.onnx filter=lfs diff=lfs merge=lfs -text
experiments/HerdNet/results/** filter=lfs diff=lfs merge=lfs -text
modelos/rf-detr-small-animaldet.pth filter=lfs diff=lfs merge=lfs -text
demo_images/* filter=lfs diff=lfs merge=lfs -text
static/** filter=lfs diff=lfs merge=lfs -text
usr/share/docs/final_project/static/** filter=lfs diff=lfs merge=lfs -text
usr/share/docs/cpf_clei/static/** filter=lfs diff=lfs merge=lfs -text
usr/share/docs/clei/static filter=lfs diff=lfs merge=lfs -text
